%h1 掲示板
#Moment
= form_for(@message) do |f|
  - if @message.errors.any?
    - @message.errors.full_messages.each do |err|
      %font{color: "red"}= err
      %br/
  = f.label "タイトル"
  %div= f.text_field :title
  = f.label "メッセージ"
  %div= f.text_area :body
  = f.submit
  %br/
%hr/
- @messages.each do |msg|
  = msg.id
  \: #{msg.title} : #{msg.created_at}
  %br/
  %pre= msg.body
  %br/
